
#header
{
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
	align-items: center;
	height: 50px;
	}

.element
{
	font-size: 12px;
	
}

.element:nth-child(1) /* On prend le premier bloc élément */

{
    color: #000;
    margin: 0px 10px 0px 20px;
}

.element:nth-child(2) /* On prend le deuxième bloc élément */

{
    color: #000;
    background-color: white;
    margin: 0px 20px 0px 10px;
   
}

.element:nth-child(3) /* On prend le troisième bloc élément */

{
    color: white;
    background-color: #4285f4;
    margin: 0px 20px 0px 0px;
    padding: 6px 12px 6px 12px;
    
}

#conteneurcentre
/* C'est pour un identifiant unique avec id */
{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 730px;
}

.element2
{

	text-align: center;
	margin: 160px 0px 0px 0px;
}

.element3/* On prend le premier bloc élément */

{

   	text-align: center;
   	margin: 20px 0px 0px 0px;
}

#footer1
{
	display: flex;
	flex-wrap: wrap;
	height: 60px;
	bottom:0px;
	background-color: #F2F2F2;
	justify-content: left;
	align-items: center;
	position: absolute;
	width:100%;

}

.elementfooter1
{
	color: rgba(0, 0, 0, 0.54);
	margin: 0px 0px 0px 20px;

}
